*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body{
  background-color: $backgroundColor;
  color: white;
}
.wrapper{
  width: $wrapperWidth;
  margin: auto;
}
