// .disk_container{
//  @include disk_container;
//  margin: 20px 20px 20px 0;
//  font-size: 14px;
//  padding-top: 25px;
//  text-align: center;
// }
// .poster{
//   width: 200px;
//   height: 200px;
//   margin-bottom: 15px;
// }
// .main_container h2{
//   margin-bottom: 8px;
// }
// .author{
//   color: $diskTestColor;
// }
// .year{
//   font-size: 10px;
// }
.main_container{
  h2{
    margin-bottom: 8px;
  }
  .disk_container{
    @include disk_container;
    margin: 20px 20px 20px 0;
    font-size: 14px;
    padding-top: 25px;
    text-align: center;
    .poster{
      width: 200px;
      height: 200px;
      margin-bottom: 15px;
    }
    .author{
      color: $diskTestColor;
    }
    .year{
      font-size: 10px;
    }
  }
}
